In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("USA_Housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X=df.drop(['Price','Address'],axis='columns')
X.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472

In [7]:
y=df['Price']
y.head()

0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
Name: Price, dtype: float64

In [8]:
#training the model
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [9]:
len(X_train)

4000

In [10]:
len(X_test)

1000

In [11]:
len(X)

5000

In [14]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.91464545, 0.91285965, 0.90750093, 0.91547355, 0.92283806])

In [15]:
#checking which model gives best accuracy
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

               model  best_score                               best_params
0  linear_regression    0.914664                       {'normalize': True}
1              lasso    0.914664       {'alpha': 1, 'selection': 'cyclic'}
2      decision_tree    0.752293  {'criterion': 'mse', 'splitter': 'best'}

In [16]:
#from the above technique we found that Linear Regression gives better accuracy
#therefore, we will create an linear regression model
reg=LinearRegression()
reg.fit(X,y)

LinearRegression()

In [18]:
reg.predict([[80000,5,7,4,23000]])

array([1117971.36542015])

In [19]:
reg.predict([[40000,7,7,3,39000]])

array([827684.20509387])

In [21]:
reg.score(X,y)

0.9180238195089554

In [27]:
reg.predict([[63345,7,6,3,34310]])

array([1139472.33164691])

In [31]:
reg.predict([[63345,1,5,4,34300]])

array([26489.35280018])

In [32]:
reg.predict([[80000,5,7,4,23000]])

array([1117971.36542015])

In [33]:
reg.predict([[61000,6,8,5,36800]])

array([1205706.80686043])